<%- include('../partials/header.ejs') %>

    <form action="/skills/create" autocomplete="false" method="POST">
        <input type="text" name="name">
        <input type="text" name="level">
        <button type="submit">Add</button>
    </form>

<%- include('../partials/footer.ejs') %>